body{
    background-color: black !important;
    font-family: $font;
    // background-image: url(../assets/img12.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 100%;
    min-height: 90vh;
    font-weight: 700;
    letter-spacing: 1px;
}