.footer{
    width: 100%;
    height: 10vh;
    // position: absolute;
    bottom: 0;
    background-color: transparent;
    // position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: $font;
    font-size: 0.8rem;
}
.footer ul{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-evenly;
    list-style: none;
    padding-inline-start: 0px;
}
.footer div{
    width: 50%;
}
.footer ul li{
    width: 2em;
    height: 2em;
    cursor: pointer;
}
.footer p{
    margin-bottom: 0px;
}