.containerInicio{
    height: auto;
    width: 100%;
}
.divInicio{
    min-height: 72vh;
    position: relative;
    margin: auto;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    width:70%;
    align-items:center;
    margin-top: 10vh;
}
h1{
    color: white;
    padding-top:3%;
    z-index: 5;
    font-family: $font;
    letter-spacing: 5px;
}
.cuadro{
    border-radius: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 20vh;
    border: 2px solid white;
    width: 90%;
    margin-bottom: 30px;
    position: relative;
}
.cuadro p{
    color: rgb(52, 2, 73);
    font-size:20px;
    z-index: 2;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: $font;
    margin-block: 0px;
}
.cuadro2{
    overflow: hidden;
 
}
.cuadro2 img   {
    object-fit: fill;
    position:absolute;
    width: 100%;
    filter:blur(3px);
    opacity: 1;
}
