.divLogin{
    // background-image: url(../assets/img2.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: -1;
}
.form-container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width:15em;
    height: 20em;
    // background-color: rgb(7, 7, 7);
    // box-shadow: 0 4px 8px 0 rgba(80, 79, 79, 0.2), 0 6px 20px 0 rgba(80, 79, 79, 0.19);
}
.form-container-login input {
    font-family: $font;
}
.form-container-login img {
    height: 60%;
    width: 100%;
}
.form-container-login input::placeholder {
    font-family: $font;
}
.invalid{
    color: rgb(238, 51, 51);
    font-size: 15px;
    font-weight: bold;
    font-family: $font;;
}