.divLogin{
    background-image: url(../assets/img1.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: -1;
}