
@media screen and (min-width: 920px){

    .parrafoCalendar{
        width: 30%;
        font-size: .95rem;
        &2{
            text-align: left;
            width: 30%;
        }
        &1{
            width: 20%;
        }
    }
    .calendar{
        width: 55%;
        margin: 6.5em auto 0px auto;
    }
    .confirmTurno{
        width: 35vw;
        height: 40%;
    }
    .buttonsConfirmTurno{
        height: 8vh;
    }
    .containerNav {
        position: absolute;
        width: 60vw;
        margin: 0 20vw 0 20vw;
    }
    .divInicio{
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        height:90vh;
    }
    .cuadro{
        height: 40%;
        border: 2px solid white;
        cursor: pointer;
        width: 30%;
        margin-top: 15px;
        position: relative;
    }
    .cuadro2 img   {
        filter: grayscale(80%);
        filter:saturate(0%);
        object-fit: fill;
        position:absolute;
        filter:blur(8px);
        -webkit-transform:scale(1.2);transform:scale(1.2);
        transition-duration: 1s; 
    }
    .cuadro2 img:hover{
        transition-duration: 2s; 
        -webkit-transform:scale(1.6);transform:scale(1.6);
        filter: grayscale(0);
        filter:saturate(180%);
    }
    .buttonNav{
        width: 20%;
    }
    .whatsapp{
        width:3em;
        height:3em;
        right:3em;
        bottom:5em;
    }
    .reservationList p{
        font-family: $font;
        letter-spacing: 2.5px;
        font-size: 1.2rem;
    }
    .parrafoList{
        font-size: 0.96rem !important;
        font-style: italic;
    }
    .reservationList input{
        width: unset;
        margin: unset;
    }
    .reservation-container{
        justify-content: center;
    }
    .spaceDiv{
        width: 10vw;
    }
    .listVR{
        width: 80%;
    }
    .divMoreVR > div{
        width:40%;
    }
    .divMoreVR > div > p{
        width:40%;
    }
    .divMoreVR img{
        margin: 7px 0 0 16%;
    }
    .divAdmin{
        margin: 6em auto;
    }
    .form-container-user{
        width: 50em;
        margin: 6em auto;
    }
    .turnos-container{
        margin-top: 6em;
    }
    .turnos-container h2{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .turnos-container input {
        margin-top: 4em;
    }
    .turnos-container button{
        margin-top: 4em;
    }
    .nombreNav{
        display: block;
    }
    .burgerMenu{
        display: none;
    }
    .closeSession{
        display:block;
    }
    .vencimiento{
        display: block;
    }
    .lista-nav{
        height: 57px;
        justify-content: space-between;
    }
    .profile{
        margin: auto;
    }
    .underline::after{
        content: "";
        width: 3em;
        height: 2px;
        // background-color: white;
        position: absolute;
        bottom: 6px;
        margin-left: -2.2em;
    }
    .underline:hover::after{
        background-color: rgb(116, 115, 115);
    }
    .divAdmin{
        width: 30em;
    }
    .btn-turnos{
        font-size: 0.8rem !important;
        font-family: $font;
    }
    .footer{
        flex-direction: unset;
    }
    .footer ul{
        width: 30%;
    }
    ::-webkit-scrollbar {
        width: 5px;
      }
}



