.containerNav {
    position: relative;
    width: 100%;
    z-index: 3;
    top:0;
    background: linear-gradient(#272727, #0f0f0f);;
}
.spanIcon{
    width: 3em;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 6px;
    margin-left: -2.2em;
}
.spanIconAdm{
    width: 5em;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 6px;
    margin-left: -6.2em;
}
.letterAdmin a{
    font-style: italic;
    font-family: $font;
    color: white;
}

.div-container-nav{
    display: flex;
    width: 35vw;
    justify-content: space-between;
}
.div-container-nav li{
    margin: auto;
}

.lista-nav{
    height: 3em;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
    padding-inline-start: 0;
    padding-left: 1vw;
}
.nav-link{
    color:white;
    font-family: $font;
}
.nav-link:hover{
    color: rgb(129, 129, 129);
}
.lista-nav li{
    margin-top: auto 0 auto 0; 
    list-style: none; 
}
.closeSession{
    display: none;
}

.vencimiento{
    display: none;
    width: 40%;
    font-style: italic;
    margin: auto;
    color: rgb(240, 47, 47) !important;
    font-family: $font;
}
.nombreNav{
    color: white;
    font-family: $font;
    display: none;
    width: 40%;
}
.burgerMenu{
    display: block;   
}
.burgerOpen{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #130e0e;
}
.burgerOpen a{
    color: white;
}
.burgerOpen p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 2em;
    color: white;
    font-family: $font;
    font-size: 1.2rem;
    font-style: italic;
}
.burgerOpen img{
    margin:3em 0 2em 19em;
    width: 10%;
}
