.reservation-container{
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.selectVR select{
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: $font;
    outline: none;
    height: 2.1em;
    padding: 4px;
    border-radius: 5px;
    margin-top: 1.5em;
}

.selectVR option{
    font-size: 0.9rem;
    font-family: $font;
    cursor: pointer;
}

.buttonVR{
    width: 100%;
    margin: 4vh auto;

}
.listVR{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 15em;
    display: flex;
    justify-content: space-evenly;
    margin: 5em auto;
    font-size: 0.7rem;
}
.listVR > div{
    width: 18%;
    align-items: center;
    color: white;
    font-family: $font
}
.listVR > div > p {
    position: fixed;
    margin-top: -3em;
}
.moreReservation{
    cursor: pointer;
}
.dispVR{
    width: 8% !important;
}
.moreReservation:hover{
    color: rgb(107, 104, 104);
}
.hr{
    margin-bottom: 0.8rem;
    position: fixed;
    margin-top: -3em;
}
.divMoreVR{
    color: white; 
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: transparent;
    z-index: 2;
    font-family: $font;
}
.divMoreVR > div{
    width: 70%;
    border-radius: 10px;
    height: 46%;
    overflow-y: scroll;
    background-color: rgb(100, 99, 99);
}
.divMoreVR > div > p{
    font-size: 1rem;
    z-index: 3;
    position: absolute;
    width: 70%;
    background-color: rgb(61, 60, 60);
    margin: 0 auto 0 auto;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listNames{
    margin:64px auto 0 auto;

}

.divMoreVR img{
    position: absolute;
    margin: 7px 0 0 25%;
    cursor: pointer;
    z-index: 4;
}
.divMoreVR button{
    bottom: 0;
}
.listNames p {
    font-size: 0.8rem;
    text-align: center;
}
