@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;700&display=swap");
root {
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  text-align: center;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.none {
  display: none;
}

p {
  margin-bottom: 0px;
}

.fondoImg {
  background-image: url(../assets/img1.jpg);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #646363;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d3c3c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d3c3c;
}

body {
  background-color: black !important;
  font-family: "Roboto", sans-serif;
  background-image: url(../assets/img1.jpg);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  height: 100%;
  font-weight: 700;
  letter-spacing: 1px;
}

.containerNav {
  position: relative;
  width: 100%;
  z-index: 3;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#272727), to(#0f0f0f));
  background: linear-gradient(#272727, #0f0f0f);
}

.spanIcon {
  width: 3em;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 6px;
  margin-left: -2.2em;
}

.letterAdmin a {
  font-style: italic;
  font-family: "Roboto", sans-serif;
  color: white;
}

.letterAdmin a:hover {
  color: #818181;
}

.lista-nav {
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  width: 100%;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  padding-left: 1vw;
}

.nav-link {
  color: white;
  font-family: "Roboto", sans-serif;
}

.nav-link:hover {
  color: #bdbaba;
}

.lista-nav li {
  margin-top: auto 0 auto 0;
  list-style: none;
}

.closeSession {
  display: none;
}

.vencimiento {
  display: none;
  width: 20%;
  font-style: italic;
  margin: auto;
  color: #f02f2f !important;
  font-family: "Roboto", sans-serif;
}

.nombreNav {
  color: white;
  font-family: "Roboto", sans-serif;
  display: none;
}

.burgerMenu {
  display: block;
}

.burgerOpen {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #130e0e;
}

.burgerOpen a {
  color: white;
}

.burgerOpen p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-style: italic;
}

.burgerOpen img {
  margin: 3em 0 2em 19em;
  width: 10%;
}

.divLogin {
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

.logoLogin {
  width: 10em;
  height: 10em;
  margin-top: 30px auto;
}

.logoLogin img {
  width: 100%;
  height: 100%;
}

.form-container-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15em;
  height: 20em;
  margin-top: 2em;
}

.form-container-login input {
  font-family: "Roboto", sans-serif;
}

.form-container-login img {
  height: 60%;
  width: 100%;
}

.form-container-login input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
}

.form-container-login input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
}

.form-container-login input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
}

.form-container-login input::placeholder {
  font-family: "Roboto", sans-serif;
}

.invalid {
  color: #ee3333;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.addClass-container {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
}

.addClass-container h2 {
  color: white;
}

.addClass-container div {
  margin-top: 3em;
}

.addClass-container > input {
  color: white;
  margin-top: 3em;
  cursor: pointer;
  outline: none;
}

.containerInicio {
  height: auto;
  width: 100%;
}

.divInicio {
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10vh;
}

h1 {
  color: white;
  padding-top: 3%;
  z-index: 5;
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
}

.cuadro {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  border: 2px solid white;
  width: 90%;
  margin-bottom: 30px;
  position: relative;
}

.cuadro p {
  color: #340249;
  font-size: 20px;
  z-index: 2;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-block: 0px;
}

.cuadro2 {
  overflow: hidden;
}

.cuadro2 img {
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  width: 100%;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  opacity: 1;
}

.calendar {
  border-radius: 10px;
  background-color: #222121;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4em auto;
  color: white;
}

.calendar__Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.calendar__Prev, .calendar__Next {
  color: #f1f0f0;
  cursor: pointer;
  font-size: 1.4em;
}

.calendar__Prev {
  margin-right: auto;
}

.calendar__Next {
  margin-left: auto;
}

.calendar__Day, .calendar__Month {
  padding: .5em .5em;
}

.calendar__Dia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px 10px 0px 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.calendar__Item {
  width: 100%;
  margin-top: 10px;
  height: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1rem;
}

.parrafoCalendar {
  width: 35%;
  font-family: "Roboto", sans-serif;
  font-size: .8rem;
  margin-top: 1rem;
  text-align: center;
}

.parrafoCalendar3 {
  margin-left: 10px;
  width: 15%;
}

.parrafoCalendar2 {
  text-align: left;
  width: 33%;
}

.parrafoCalendar1 {
  width: 20%;
}

.calendar__Item:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(80, 79, 79, 0.2), 0 6px 20px 0 rgba(80, 79, 79, 0.19);
          box-shadow: 0 4px 8px 0 rgba(80, 79, 79, 0.2), 0 6px 20px 0 rgba(80, 79, 79, 0.19);
  background-color: #5f5d5d;
}

.endCalendar {
  margin-top: 10px;
}

.confirmTurnoContainer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
}

.confirmTurno {
  border-radius: 10px;
  width: 75vw;
  height: 45%;
  background-color: #646363;
  opacity: 1;
  color: white;
}

.confirmTurno p {
  margin-top: 5px;
}

.confirmTurno::before {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
  content: "Gestion de Reservas";
  width: 100%;
  height: 20%;
  background-color: #3d3c3c;
  display: block;
}

.datosTurno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.buttonsConfirmTurno {
  width: 100%;
  height: 10vh;
  margin-top: 5vh;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.buttonsConfirmTurno button {
  -webkit-box-shadow: 0 4px 8px 0 rgba(48, 47, 47, 0.2), 0 6px 20px 0 rgba(37, 37, 37, 0.19);
          box-shadow: 0 4px 8px 0 rgba(48, 47, 47, 0.2), 0 6px 20px 0 rgba(37, 37, 37, 0.19);
}

.map-container {
  margin: 7em auto 0 auto;
}

.profile-container {
  margin: 7em auto 0 auto;
}

.profile-container h2 {
  font-size: 1.4rem;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin: 0 0 1em 10vw;
}

.map {
  width: 80vw;
  height: 40vh;
}

.reservationList {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

.reservationList div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservationList input {
  width: 100vw;
  margin: 1em 45% 2em 45%;
}

.reservationList p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2.5px;
  font-size: 0.9rem;
}

.parrafoList {
  font-size: 0.7rem !important;
  font-style: italic;
}

input[type=date] {
  font-size: 0.95rem;
  text-transform: uppercase;
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
  height: 2em;
}

input[type=date]::-webkit-clear-button {
  font-size: 18px;
  height: 30px;
  position: relative;
  right: 5px;
  margin-right: 4px;
}

input[type=date]::-webkit-inner-spin-button {
  height: 30px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  font-size: 18px;
}

input[type=date]::-webkit-calendar-picker-indicator:hover {
  background-color: #cecccc;
  color: #e6e6e6;
  cursor: pointer;
}

.reservation-container {
  margin-top: 5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.selectVR select {
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.selectVR option {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.buttonVR {
  width: 100%;
  margin: 4vh auto;
}

.listVR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
}

.listVR > div {
  width: 18%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listVR p {
  color: white;
  font-family: "Roboto", sans-serif;
}

.moreReservation {
  cursor: pointer;
}

.dispVR {
  width: 8% !important;
}

.moreReservation:hover {
  color: #6b6868;
}

.hr {
  margin-bottom: 1.45rem;
}

.divMoreVR {
  color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  background-color: transparent;
  z-index: 2;
  font-family: "Roboto", sans-serif;
}

.divMoreVR > div {
  width: 60%;
  border-radius: 10px;
  height: 50%;
  overflow-y: scroll;
  background-color: #646363;
}

.divMoreVR > div > p {
  z-index: 3;
  position: absolute;
  width: 60%;
  background-color: #3d3c3c;
  margin: 0 auto 0 auto;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listNames {
  margin: 54px auto 0 auto;
}

.divMoreVR img {
  position: absolute;
  margin: 7px 0 0 25%;
  cursor: pointer;
  z-index: 4;
}

.divMoreVR button {
  bottom: 0;
}

.divAdmin {
  margin: 4em 1em auto 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60vh;
}

.divAdmin div {
  height: 10vh;
  font-family: "Roboto", sans-serif;
}

.divAdmin div button {
  height: 100%;
  width: 100%;
}

.form-container-user {
  width: 50em;
  margin: 4em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 60vh;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.checkbox input {
  margin: auto 0 auto 0;
  cursor: pointer;
  width: 8% !important;
}

.checkbox p {
  margin: auto 0 auto 0;
}

.form-container-user input {
  width: 70%;
}

.errorUser {
  width: 100%;
  color: #f50707;
  font-size: 20px;
  font-weight: bold;
  height: 1.5vh;
}

.form-container-user div {
  width: 50%;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container-user button {
  width: 80%;
}

.turnos-container {
  margin: 4em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.turnos-container h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: white;
  font-weight: 200;
}

.btn-turnos {
  font-size: 0.7rem !important;
}

.turnos-container input {
  color: white;
  margin-top: 2em;
  cursor: pointer;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.turnos-container button {
  margin-top: 2em;
  font-family: "Roboto", sans-serif;
  width: 7em;
}

.whatsapp {
  display: block;
  width: 2em;
  height: 2em;
  color: #fff;
  position: fixed;
  right: 1em;
  bottom: 3em;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}

.whatsapp img {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: transparent;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.footer div {
  width: 50%;
}

.footer ul li {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.footer p {
  margin-bottom: 0px;
}

@media screen and (min-width: 920px) {
  .parrafoCalendar {
    width: 30%;
    font-size: .95rem;
  }
  .parrafoCalendar2 {
    text-align: left;
    width: 30%;
  }
  .parrafoCalendar1 {
    width: 20%;
  }
  .calendar {
    width: 55%;
    margin: 6.5em auto 0px auto;
  }
  .confirmTurno {
    width: 35vw;
    height: 40%;
  }
  .buttonsConfirmTurno {
    height: 8vh;
  }
  .containerNav {
    position: absolute;
    width: 60vw;
    margin: 0 20vw 0 20vw;
  }
  .divInicio {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
    height: 90vh;
  }
  .cuadro {
    height: 40%;
    border: 2px solid white;
    cursor: pointer;
    width: 30%;
    margin-top: 15px;
    position: relative;
  }
  .cuadro2 img {
    -webkit-filter: grayscale(80%);
            filter: grayscale(80%);
    -webkit-filter: saturate(0%);
            filter: saturate(0%);
    -o-object-fit: fill;
       object-fit: fill;
    position: absolute;
    -webkit-filter: blur(8px);
            filter: blur(8px);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .cuadro2 img:hover {
    -webkit-transition-duration: 2s;
            transition-duration: 2s;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-filter: saturate(180%);
            filter: saturate(180%);
  }
  .buttonNav {
    width: 20%;
  }
  .whatsapp {
    width: 3em;
    height: 3em;
    right: 3em;
    bottom: 5em;
  }
  .reservationList p {
    font-family: "Roboto", sans-serif;
    letter-spacing: 2.5px;
    font-size: 1.2rem;
  }
  .parrafoList {
    font-size: 0.96rem !important;
    font-style: italic;
  }
  .reservationList input {
    width: unset;
    margin: unset;
  }
  .reservation-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .spaceDiv {
    width: 10vw;
  }
  .listVR {
    width: 80%;
  }
  .divMoreVR > div {
    width: 40%;
  }
  .divMoreVR > div > p {
    width: 40%;
  }
  .divMoreVR img {
    margin: 7px 0 0 16%;
  }
  .divAdmin {
    margin: 6em auto;
  }
  .form-container-user {
    width: 50em;
    margin: 6em auto;
  }
  .turnos-container {
    margin-top: 6em;
  }
  .turnos-container h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .turnos-container input {
    margin-top: 4em;
  }
  .turnos-container button {
    margin-top: 4em;
  }
  .nombreNav {
    display: block;
  }
  .burgerMenu {
    display: none;
  }
  .closeSession {
    display: block;
  }
  .vencimiento {
    display: block;
  }
  .lista-nav {
    height: 57px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .profile {
    margin: auto;
  }
  .underline::after {
    content: "";
    width: 3em;
    height: 2px;
    position: absolute;
    bottom: 6px;
    margin-left: -2.2em;
  }
  .underline:hover::after {
    background-color: #747373;
  }
  .divAdmin {
    width: 30em;
  }
  .btn-turnos {
    font-size: 0.8rem !important;
    font-family: "Roboto", sans-serif;
  }
  .footer {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
  .footer ul {
    width: 30%;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
}
/*# sourceMappingURL=index.css.map */