@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
root {
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

.nav-lik {
  z-index: 100;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

p {
  margin-bottom: 0px  !important;
}

body {
  background-color: black !important;
  font-family: 'Roboto', sans-serif !important;
}

.containerNav {
  position: absolute;
  width: 60vw;
  margin: 0 20vw 0 20vw;
  top: 0;
  background-color: #2b2222;
}

.lista-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 100%;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  padding-left: 1vw;
}

.nav-link {
  color: white;
  font-family: 'Roboto', sans-serif;
  z-index: 100;
}

.nav-link:hover {
  color: #bdbaba;
}

.lista-nav li {
  margin-top: auto;
  margin-bottom: auto;
  list-style: none;
}

.botonNav button {
  height: 100%;
}

.nombre {
  margin: auto;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.divLogin {
  background-image: url(../assets/img2.jpg);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

.form-container-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15em;
  height: 20em;
}

.form-container-login input {
  font-family: 'Roboto', sans-serif;
}

.form-container-login img {
  height: 60%;
  width: 100%;
}

.form-container-login input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
}

.form-container-login input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
}

.form-container-login input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
}

.form-container-login input::placeholder {
  font-family: 'Roboto', sans-serif;
}

.invalid {
  color: #ee3333;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.containerInicio {
  background-image: url(../assets/img1.jpg);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  height: auto;
  min-height: 100vh;
  width: 100%;
}

.divInicio {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 90vh;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15vh;
}

h1 {
  color: white;
  padding-top: 3%;
  z-index: 5;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
}

.cuadro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  height: 40%;
  border: 2px solid white;
  cursor: pointer;
  position: relative;
}

.cuadro p {
  color: #0d0135;
  font-size: 20px;
  z-index: 2;
  letter-spacing: 3px;
  font-weight: bold;
  margin-block: 0px;
}

.cuadro2 {
  overflow: hidden;
}

.cuadro2 img {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.cuadro2 img:hover {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-filter: saturate(180%);
          filter: saturate(180%);
}

.calendar {
  background-color: #222121;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 160px;
  right: 160px;
  margin: 5em auto;
  color: white;
  height: auto;
}

.calendar__Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
  font-size: 1.2em;
  text-transform: uppercase;
}

.calendar__Prev, .calendar__Next {
  color: #f1f0f0;
  cursor: pointer;
  font-size: 1.4em;
}

.calendar__Prev {
  margin-right: auto;
}

.calendar__Next {
  margin-left: auto;
}

.calendar__Day, .calendar__Month {
  padding: .5em .5em;
}

.calendar__Dia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px 10px 0px 10px;
  cursor: pointer;
}

.calendar__Item {
  width: 100%;
  margin-top: 10px;
  height: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1rem;
}

.parrafoCalendar {
  width: 35%;
  font-size: .8rem;
  margin-top: 4px;
  text-align: center;
}

.parrafoCalendar3 {
  margin-left: 10px;
  width: 15%;
}

.calendar__Item:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(80, 79, 79, 0.2), 0 6px 20px 0 rgba(80, 79, 79, 0.19);
          box-shadow: 0 4px 8px 0 rgba(80, 79, 79, 0.2), 0 6px 20px 0 rgba(80, 79, 79, 0.19);
  background-color: #5f5d5d;
}

.divAdmin {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60vh;
  width: 30em;
}

.divAdmin div {
  height: 10vh;
}

.divAdmin div button {
  height: 100%;
  width: 100%;
}

.form-container-user {
  width: 50em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 60vh;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.checkbox input {
  margin: auto;
  cursor: pointer;
  width: 8% !important;
}

.checkbox p {
  margin: auto;
}

.form-container-user input {
  width: 70%;
}

.errorUser {
  width: 100%;
  color: #f50707;
  font-size: 20px;
  font-weight: bold;
  height: 1.5vh;
}

.form-container-user div {
  width: 50%;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container-user button {
  width: 80%;
}

@media screen and (min-width: 769px) {
  .parrafoCalendar {
    width: 30%;
    font-size: .95rem;
  }
  .parrafoCalendar2 {
    text-align: left;
  }
  .calendar {
    width: 60%;
  }
}
/*# sourceMappingURL=index.css.map */